[submodule "integration/wait-for-it"]
	path = integration/wait-for-it
	url = https://github.com/vishnubob/wait-for-it
[submodule "moca-client"]
	path = moca-client
	url = http://gitlab.approdite.io/moca/moca-client.git
