[submodule "integration/wait-for-it"]
	path = integration/wait-for-it
	url = https://github.com/vishnubob/wait-for-it
[submodule "moca-client"]
	path = moca-client
	url = ssh://git@gitlab.approdite.io:2200/moca/moca-client.git
